.advantages {
  list-style-type: none;
}

.advantages__icon-div {
  border-radius: 4px;
  background-color: getColor("background-2");
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .advantages__item {
    text-align: center;
  }

  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .advantages__item {
    justify-content: space-between;
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    display: flex;
    justify-content: space-between;
  }
}

.advantages__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: getColor("header");
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
