.clients {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .clients {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    flex-wrap: wrap;
  }

  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    justify-content: space-between;
  }

  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  color: getColor("icons");
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid getColor("icons");
  border-radius: 4px;

  &:hover,
  &:focus {
    color: getColor("brand-color");
    cursor: pointer;
    border: 1px solid getColor("brand-color");
    outline: none;
  }
}

.clients__icon {
  fill: currentColor;
}
