.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    list-style-type: none;
    display: flex;
    gap: 60px;
  }

  .navigation__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .navigation__link {
    text-decoration: none;
    color: getColor("header");
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

    &--underlined {
      color: getColor("brand-color");
    }

    &.navigation__link--underlined::after {
      width: 100%;
    }

    &::after {
      content: "";
      width: 0;
      height: 4px;
      position: absolute;
      bottom: -34px;
      right: 0;
      border-radius: 2px;
      background: getColor("brand-color");
      transition: width 250ms, left 250ms;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    gap: 46px;
  }
}
