.page-header {
  border-bottom: 1px solid #ececec;

  &__flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
  }

  & a:hover,
  & a:focus {
  color: getColor("brand-color");
  fill: getColor("brand-color");
  }
}
